<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" />
    <title>About Page</title>
</head>
<body>
    <h1>Who is Bo Burnham...</h3>
    <p></p>
    <h4>Robert Pickering "Bo" Burnham (born August 21, 1990) is an American stand-up comedian, actor, singer, musician, and filmmaker. He began his career on YouTube in 2006, with his videos gaining over 529 million views as of November 2021. (Font: Wikipedia)</h3>
    <h4>He is currently nominated for Grammy Awards for: "Best Music Film" and "Best Song Written for Visual Media".</h4>

</body>
</html>