<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" />
    <title>Gallery</title>
</head>
<body>
    <nav class="nav-bar">
        <a href="/home-page">Home</a>
        <a href="/about">About</a>
        <a href="/work">Work</a>
        <a href="/gallery">Gallery</a>
    </nav>
    <h1 class="startString">Pictures of Bo.. </h1>
    <div class="bo-images">
        <img class="bo-image" src="/images/bo_3.png" alt="a random picture of Bo">
        <img class="bo-image" src="/images/bo_2.png" alt="a random picture of Bo">
        <img class="bo-image" src="/images/bo_burnham.png" alt="a random picture of Bo">
    </div>
    <h4 class="images-text">Here you can see some random pictures of Bo! You cannot put a like in the pictures, but don't be sad, you can go to another place and do that! I have more labs to finished!</h4>

    </body>
</html>