<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" />

        <title>Bo Burnham</title>
</head>
<body>
    <nav class="nav-bar">
        <a href="/home-page">Home</a>
        <a href="/about">About</a>
        <a href="/work">Work</a>
        <a href="/gallery">Gallery</a>
    </nav>
    <h1 class="startString">Welcome to the Home Page of Bo Burnham</h1>
    <h4 class="text-content">Here you can find almost nothing about Bo Burnham, but you really have to search more about him on the Internet (not here).</h4>
    <p></p>
    <img class="image-homepage" src="/images/bo_homepage.png" alt="a meme of Bo">

    <script src="/javascript/script.js"></script>
</body>
</html>