<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">

    <title>Bo Burnham</title>
</head>
<body>
    <h1>Welcome to the Home Page of Bo Burnham</h1>
    <h4>Here you can find almost nothing about Bo Burnham, but you really have to research more about him on the Internet (not here).</h4>

    <a href="/about.html">About</a>

    <script src="/javascript/script.js"></script>

</body>
</html>