<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" />
    <title>Work</title>
</head>
<body>
    <h4>Comedy specials</h4>
    <table id="comedyTable">
        <tr>
            <th>Year</th>
            <th>Title</th>
        </tr>
        <tr>
            <td>2010</td>
            <td>Words, Words, Words</td>
          </tr>
          <tr>
            <td>2013</td>
            <td>what.</td>
          </tr>
          <tr>
            <td>2016</td>
            <td>Make Happy</td>
          </tr>
          <tr>
            <td>2021</td>
            <td>Inside</td>
          </tr>
    </table>
    <p></p>
    <h4>Discography</h4>
    <table id="dicographyTable">
        <tr>
            <th>Year</th>
            <th>Title</th>
        </tr>
        <tr>
            <td>2008</td>
            <td>	Bo fo Sho</td>
          </tr>
          <tr>
            <td>2009</td>
            <td>Bo Burnham</td>
          </tr>
          <tr>
            <td>2010</td>
            <td>Words, Words, Words</td>
          </tr>
          <tr>
            <td>2013</td>
            <td>	what.</td>
          </tr>
          <tr>
            <td>2021</td>
            <td>Inside (The Songs)</td>
          </tr>
    </table>

</body>
</html>